.instructionText {
	text-align:center; 
	font-size:16px; 
	font-family:'Helvetica Neue';
	font-weight:bold;
}

.topTitle {
	margin-top:8px;
	margin-bottom:8px;
	text-align:center;
	font-size:15px;
	font-family:'Helvetica Neue';
}

.footerText {
	margin-top:8px;
	margin-bottom:8px;
	text-align:center;
	font-size:14px;
	font-family:'Helvetica Neue';
}

.bandLabel {
	margin-top:14px;
	margin-bottom:14px;
	text-align:center;
	font-size:18px;
	font-family:'Helvetica Neue';	
	font-weight:bold;
}

input[type='text'],input[type='number'],textarea,select {font-size:16px;}


.upper {
	position: relative;
	height: 60px;
	padding:0px 0px 5px 0px;
	border:5px solid gray;
}

.lower {
	position: relative;
	height:60px;
	
}

.container {
	width:300px;
}

.inputText {
	width:100px;
	
}